<% if @concurso.nil? %>
    <div class="row">
      <div class="alert alert-danger align-content-center" role="alert">
        No existe el concurso.
      </div>
    </div>
<% else %>
    <div class="row">
      <div class="align-content-center">
        <h1>CONCURSO - <%=@concurso.name %></h1>
        <img src="<%=@concurso.image2 %>">
        <p><%=@concurso.description %> </p>
      </div>
    </div>
    <div class="row">
      <% @concurso.videos.each do |video|  %>
          <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="card h-100">

              <div class="card-body">
                <h4 class="card-title">
                  <a href="#"><%= video.name%></a>
                </h4>
                <p class="card-text"><%= video.message %></p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <!-- /.row -->
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
<% end %>
