<% if @concurso.nil? %>
    <div class="row">
      <div class="alert alert-danger align-content-center" role="alert">
        No existe el concurso.
      </div>
    </div>
<% else %>
    <div class="container-fluid">
    <section id="content">

      <div id="our-work">
        <div class="resume_image">
          <a href="<%= '/contests/' + @concurso.url + '/new' %>"><img src="/img_upload.png" height="64" width="64" alt=""> Subir video</a>
        </div>
        <br>
        <div id="content_videos">
          <ul>
            <% @concurso.videos.sort_by {|video| video.created_at}.reverse.each do |video| %>

                <% if video.state %>
                  <li>
                    <div class="link_show_video">
                      <a href="#"><%= video.name%></a>
                    </div>
                    <div id="myElement<%= video.id %>">Loading the player...</div>
                    <script type='text/javascript'>
                        jwplayer("myElement<%= video.id%>").setup({
                            "file": "<%= video.convertido %>"
                        });
                    </script>
                    <div class="resume_image">
                      <div class="item_resume"><strong><%= video.message %></strong></div>
                      <div class="item_resume">Usuario: <%= video.firstNameUser + ' ' + video.lastNameUser %></div>
                      <div class="item_resume">Email: <%= video.emailUser %></div>
                    </div>
                  </li>
                <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </section>

      <!-- /.row -->
    <!-- Pagination -->
    </div>
<% end %>
