<% if !flash[:notice].blank? %>
    <div class = "alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>

<br />

<%= link_to "New Video", new_video_path, class: "btn btn-primary" %>
<br />
<br />

<table class = "table table-bordered table-striped">
  <thead>.
  <tr>
    <th>Name</th>
    <th>Download Link</th>
    <th>Tipo</th>
    <th>Visualizar</th>
    <th> </th>
  </tr>
  </thead>

  <tbody>
  <% @videos.each do |video| %>

      <tr>
        <td><%= video.name %></td>
        <td><%= link_to "Download Resume", video.ruta_url %></td>
        <td><%= button_to "Delete",  video, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{video.name}?" %></td>
        <td>
          <div id='myElement<%= video.id%>'>Loading the player...</div>
          <script type='text/javascript'>
              jwplayer("myElement<%= video.id%>").setup({
                  "file": "<%= video.ruta_url%>"
              });
          </script>
        </td>
      </tr>

  <% end %>
  </tbody>

</table>