<div class="row">
  <div class="row col-lg-12" style="width: 100%">
    <h1 class="page-header" style="font-family: 'Fira Sans', 'Source Sans Pro', sans-serif"><strong>CONCURSO - <%=@concurso.name %></strong></h1>
    <div class="col-lg-12">
      <div class="col-lg-6 pull-left">
          <h2><%=@concurso.description %></h2>
      </div>
      <div class="col-lg-6 pull-right">
        <img src="<%=url_imagen_concurso(@concurso) %>" width="300" height="200">
      </div>
    </div>
  </div>
</div>
<h1 class="page-header">Videos subidos</h1>
<div class="row col-lg-12">
  <% @videos.each do |video|  %>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <!--<div class="col-lg-6 col-md-6 col-sm-6">-->
          <div class="card-body">
              <h4 class="card-title">
                  <a href="#"><%= video.name%></a>
              </h4>
          </div>

          <!--</div>-->
          <!--<div class="col-lg-6 col-md-6 col-sm-6">-->
          <div class="video text-center">
            <div id='myElement<%= video.video_id %>_conv'>Loading the player...</div>
            <script type='text/javascript'>
                jwplayer("myElement<%= video.video_id%>_conv").setup({
                    "file": "<%= url_video_original(video)%>"
                });
            </script>
            <span class="label label-warning">Sin convertir!</span>
          </div>

          <div class="video text-center">
            <% if video.state == 2 %>
              <div id='myElement<%= video.video_id%>'>Loading the player...</div>
              <script type='text/javascript'>
                  jwplayer("myElement<%= video.video_id%>").setup({
                      "file": "<%= url_video_convertido(video) %>"
                  });
              </script>
              <span class="label label-success">Convertido!</span>
            <% else video.state %>
                <span class="label label-success">Pendiete de conversion!</span>
            <% end %>
          </div>
          <!--</div>-->
          <div class="card-body">

            <p class="card-text">
                <strong><%= video.message %></strong> <br>
                Enviado por: <%= video.firstNameUser + ' ' + video.lastNameUser %> <br>
                E-mail: <%= video.emailUser %>
            </p>
          </div>
        </div>
      </div>
  <% end %>
</div>
<!-- /.row -->
<!-- Pagination -->
<div class="col-lg-12" style="margin-bottom: 20px">

</div>
